.mainField{
    width: 800px;
    height: 80vh;
    background-color: pink;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.mainField .text{
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
}